p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

education{
    line-height:2.5;
}

div{
    color: white;
    }

h3.section{
   font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color: white;
}

.pdf{
 background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Man_Silhouette.png);
}

.fond{
    background: whitesmoke;
    background-image: url(http://www.fondsdecranhd.com/wallpapers/overflow_css_html_2560x1600.jpg);
}

.image{
    width: 200px;
    height: 200px;
}

